* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background-color: #FFFEEA;
}

img {
    width: 300px;
    height: 200px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 30px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    gap: 40px;
}

ul, ol {
    list-style-position: inside;
}
li {
    margin-bottom: 5px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 40px;
    font-size: 0px;
    border: 1px solid black;
    background-color: white;
    text-align: center;
}

.box h2 {
    font-size: 30px;
}

.box:hover {
    font-size: 16px;
    height: auto;
    max-height: 300px;
    transition-duration: 0.8s;
}

#footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px;
    background-color: #78776E;
    font-size: 12px;
    color: #37373B;
}

#footer a { 
    all: unset;
    font-size: 15px;
    text-decoration: underline;
}

#footer a:hover {
    cursor: pointer;
    font-size: 20px;
    color: white;
}