html{
    height: 100%;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-repeat: no-repeat;
    background-image: linear-gradient(#FADF78, #FAF4B5, white);
}

a{
    text-decoration: none;
    color: black;
}

.container{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.container h1{
    margin: 12px;
    padding: 0;
}
.container ul{
    list-style: none;
    padding: 0;
    text-align: center;
}
.container li{
    margin: 20px;
    padding: 0;
}