* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background-color: #FFFEEA;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    height: 100%;
    margin: 0;
}

#header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #DEDDCC;
}

#recipes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
    gap: 40px;
    padding: 40px;
}

.recipe-box {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 320px;
    height: 215px;
    box-shadow: 0 0 1em black;
    text-align: center;
    background-color: white;
    transform: rotate(5deg) scale(0.8);
    filter: grayscale(80%);
}

a{
    all: unset;
}

.recipe-box a img {
    width: calc(100% - 14px);
    margin-top: 7px;
    height: 180px;
}

.recipe-box:hover {
    cursor:pointer;
    transform:rotate(0deg) scale(1);
    filter: grayscale(0)
}

.recipe-box a span {
    font-size: 20px;
}

#footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px;
    background-color: #78776E;
    font-size: 12px;
    color: #37373B;
}

#footer a {
    font-size: 15px;
    text-decoration: underline;
}

#footer a:hover {
    cursor: pointer;
    font-size: 20px;
    color: white;
}